@page
@model Web.Pages.Recipes.SpoonacularAPIModel
@{
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<input id="search" /><button onclick="getRecipe(document.getElementById('search').value)">Search</button>
<div id="output">

</div>
<a href="" id="source">

</a>

<script>
	function getSource(recipeName)
	{
		$.ajax({
			url: "https://api.spoonacular.com/recipes/" + recipeName + "/information?apiKey=7bee4be8c5994749b846c4966537ed75",
			success:function(res){
				document.getElementById("source").innerHTML = res.sourceUrl
				document.getElementById("source").href = res.sourceUrl
			}
		});
	}
	function getRecipe(query)
	{
		$.ajax({
			url: "https://api.spoonacular.com/recipes/search?apiKey=7bee4be8c5994749b846c4966537ed75&number=1&query="+query, //number = 1 means get the top result
			success: function (res) {
				document.getElementById("output").innerHTML = "<h1>" + 
				res.results[0].title + 
				"</h1><br><img src='" + 
				res.baseUri+res.results[0].image + "'width='400' / ><br> ready in " + res.results[0].readyInMinutes + " minutes" 
				getSource(res.results[0].id)
			}
		});
	}
</script>