@page
@model Web.Pages.FoodSharing.AddDonationModel

<main class="main pages">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="row">
                        <div class="col-xl-12" style="max-width: 600px; margin: 0 auto;">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1" style="margin-top:100px">
                                        <h1 class="mb-5">Create Your Food Item</h1>
                                    </div>
                                    <form method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label">Image</label>
                                            <div class="col-sm-10">
                                                <input type="file" accept="image/*" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" />
                                                <span asp-validation-for="Upload" class="text-danger"></span>
                                            </div>
                                            <img id="imgPreview" style="height:300px;width:300px;object-fit:cover; margin-top: 10px; display:none"
                                                 src="/uploads/user.png" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="Name"></label>
                                            <div class="col-sm-10">
                                                <input type="text" asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="Category"></label>
                                            <div class="col-sm-10">
                                                @Html.DropDownListFor(model => model.Category, new List<SelectListItem>
                                                {
                                                new SelectListItem {Text = "Fresh produce", Value = "Fresh produce", Selected = true },
                                                new SelectListItem {Text = "Canned food", Value = "Canned food" },
                                                new SelectListItem {Text = "Snacks", Value = "Snacks" },
                                                new SelectListItem {Text = "Beverages", Value = "Beverages" },
                                                new SelectListItem {Text = "Meats", Value = "Meats" },
                                                }, "-- Select --", new { @class = "form-select" })

                                                <span asp-validation-for="Category" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="Description"></label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" asp-for="Description"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="ExpiryDate"></label>
                                            <div class="col-sm-10">
                                                <input class="form-control" asp-for="ExpiryDate" onchange="validateExpiryDate()" />
                                                <span asp-validation-for="ExpiryDate" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="Location"></label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type= "number" asp-for="Location" placeholder="Enter you postal code"/>
                                                <span asp-validation-for="Location" class="text-danger"></span>
                                            </div>
                                            <div id="map"></div>

                                        </div>
                                       
                                        <div class="login_footer form-group mb-50">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="" />
                                                    <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-30">
                                            <button type="submit" value="Add" class="btn btn-fill-out btn-block hover-up font-weight-bold">Submit</button>
                                        </div>
                                        <p class="font-xs text-muted"><strong>Note:</strong>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    #map {
        margin-top: 10px;
        display: none;
        width: 80%;
        height: 400px;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8-8MPI9bBRCr3ny5hatCyihjlm1eT-kQ"></script>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
        });

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': document.getElementById('Location').value }, function (results, status) {
            if (status === 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                 alert('Geocode was not successful for the following reason: ' + status);
            } 
        });
    }

    document.getElementById('Location').addEventListener('blur', function () {
        document.getElementById('map').style.display = "block";
        initMap();
    });

</script>

<script>
    function showImgPreview(input) {
        var imgPreview = document.getElementById("imgPreview");
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgPreview.src = e.target.result;
                imgPreview.style.display = "block";
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            imgPreview.style.display = "none";
        }
    }
</script>

